# Quizz 1 - Python basics

## a) type

### Create a variable `string` containing `"toto"` and a variable `number` containing the number 10.

In [16]:
string_type = "toto"
number_type = 10

### Reverse the contents of the variables `string` and `number` (from line 1).

In [17]:
string_type = string_type[::-1]
print(string_type)

number_type = str(number_type)[::-1]
print(number_type)

otot
01

## b) List

### Create a list `first_list`  containing the following integers: 1, 3, 2, 7, 4, 10, 46.

In [18]:
first_list = [1,3,2,7,4,10,46]


### Display the first 3 items in `first_list` - in one line of code.

In [19]:
print(first_list[:3])

[1, 3, 2]

### Create a `second_list` that contains only the 3rd, 4th and 5th elements of `first_list` . Your list indexing should use 3 characters at most (not including spaces) - Check your result carefully!

In [20]:
second_list = first_list[2:5]
print(second_list)

[2, 7, 4]

### Concatenate `first_list` and `second_list` to form `third_list`.

In [21]:
third_list = first_list + second_list
print(third_list)

[1, 3, 2, 7, 4, 10, 46, 2, 7, 4]

### Using the zip function, associate the values of `first_list` and `second_list` in the variable `tuple_of_lists`.

In [22]:
tuple_of_list = list(zip(first_list, second_list))
print(tuple_of_list)

[(1, 2), (3, 7), (2, 4)]

### Add the number 5 to `first_list`.

In [23]:
first_list.append(5)
print(first_list)

[1, 3, 2, 7, 4, 10, 46, 5]

### Add a null element to `third_list`.

In [24]:
third_list.append(0)
print(third_list)

[1, 3, 2, 7, 4, 10, 46, 2, 7, 4, 0]

### Write a function that takes as arguments a list `my_list` and an integer `n` and returns the result of `n` concatenations of `my_list` with itself.

In [25]:
# Example : my_list=[1,2,3], n=2 --> [1,2,3,1,2,3]

def concat_list(my_list, n):
    return [my_list*n]

concat_list([1,2,3], 2)

[[1, 2, 3, 1, 2, 3]]

### You want to make parameter `n` optional and set its value to 2 by default. How do you do it?

In [26]:
def concat_list(my_list, n=2):
    return [my_list*n]

concat_list([1,2,3])

[[1, 2, 3, 1, 2, 3]]

###  With a `while` loop, print each element of `third_list` up to the `null` element.

In [63]:
i = 0
while i < len(third_list):
    i +=1
    for element in third_list:
        print(element)
        if element == 0: 
            break
    break

1
3
2
7
4
10
46
2
7
4
0

### Calculate, with a `for` loop, the number of even integers present in the list `first_list`.

In [69]:
list_even = []
for element in first_list:
    if element % 2 == 0 :
        list_even.append(element) 
    else:
        continue

print(len(list_even))

4

### Rewrite the following expression with a multi-line `for` loop.

In [27]:
even_numbers = [element for element in first_list if element % 2 == 0]

In [70]:
even_numbers = []
for element in first_list:
    if element % 2 == 0: 
        even_numbers.append(element)

### Create a function that takes a string as input and returns the first single letter of the string

In [ ]:
def first_letter(string):
    return string[0]

'c'

## c) Dictionaries

### Create a `car` dictionary with the following keys and values:
| key  | value |
|---|---|
| brand  | Ford  |
| model  | Mustang |
| year  | 1964 |

### Access the `year` value.

###  Use a loop to display all the dictionary keys.

###  Use a loop to display all the dictionary values.

### Use a loop to display all the items in the dictionary. Display also the index of each loop iteration (`enumerate` function).

### With the help of a dictionary comprehension, create a dictionary with the following keys and values :
| key  | value |
|---|---|
| cle_1  | dictionary 'car' |
| cle_2  | dictionary 'car' |
| cle_3  | dictionary 'car'|

#### Example of a dictionary comprehension (similar to list comprehension):
```
my_dict = {key:value for key, value in zip(list_1, list_2)}
```

## d) Functions

### Create a Fibonacci function called `fibonacci`  (Fibonacci sequence: 0 1 1 2 3 5 8 13 ...)

It should return the list of all Fibonacci numbers leading up to the Fibonacci number that is bigger (or equal) than the number passed in as argument.
Ex : `fibonacci(10) return [0,1,1,2,3,5,8,13]`
Ex : `fibonacci(5) return [0,1,1,2,3,5]`

### Execute your function. `fibonacci(100)` must be executed in less than 1 second.

### Create the same function using a generator
Ex : `generate_fibonacci(10) `